# Exercise 1: Accept numbers from a user

Write a program to accept two numbers from the user and calculate multiplication

In [5]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

num3 = num1 * num2

print("Multiplication of two numbers: ", num3 )

Enter first number:3
Enter second number:4
Multiplication of two numbers:  12

# Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [6]:
print('Name', 'Is', 'James', sep='**')

Name**Is**James

# Exercise 3: Convert Decimal number to octal using print() output formatting

In [7]:
num = 8
print('%o' % num)

10

# Exercise 4: Display float number with 2 decimal places using print()

In [8]:
num = 458.541315
print('%.2f' % num)

458.54

# Exercise 5: Accept a list of 5 float numbers as an input from the user

In [1]:
numbers = []

for i in range(1, 6):
    print("Enter ", i,". number:")
    
    item = float(input())
    
    numbers.append(item)

print("User List:", numbers)

Enter  1 . number:
34
Enter  2 . number:
34
Enter  3 . number:
3243
Enter  4 . number:
434657
Enter  5 . number:
2323
User List: [34.0, 34.0, 3243.0, 434657.0, 2323.0]

# Exercise 7: Accept any three string from one input() call

Write a program to take three names as input from a user in the single input() function call.

In [1]:
str1, str2, str3 = input("Enter three string: ").split()
print('Name 1:', str1)
print('Name 2:', str2)
print('Name 3:', str3)

Enter three string: mert mert mert
Name 1: mert
Name 2: mert
Name 3: mert